@mixin render_prefixes($props, $value){
    @each $prefixes in ('-webkit-', '-moz-', '-mz-', '-o-', ''){
        #{$prefixes}#{$props}: #{$value}
    }
}
.modal{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px 10px;
    margin: auto;
    min-width: 70%;
    max-width: 90%; // fixed size of modal relate to parent element
    border-radius: 10px;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 19%, .6);
    z-index: 9999;
    @include render_prefixes('user-select', 'none');
    &::-webkit-scrollbar{
        display: none;
    }
    .modalHeadTitle{
        padding: 10px 0;
        font-size: 1.3em;
        font-weight: 600;
        color: hsl(234, 87%, 18%);
    }
    .moveModal{
        cursor: grab;
        color: gray;
    }
    .modalHeadSubtitle{
        display: block;
        font-size: .8em;
        color: hsl(0, 0%, 51%);
    }
    &[data-draggable=true]{
        .modalHeadTitle{
            cursor: move;
        }
    }
    &[data-draggable=false]{
        .modalHeadTitle{
            i{
                display: none;
            }
        }
    }
}